<div class="header-content">
    <div class="container"  data-aos="flip-left" data-aos-duration="1500">
      <div class="row">
        <div class="col-md-6">
            <h1 class="title">
                We are there for you
              </h1>
          <p class="subtitle">Join us and get everything cleared!</p>
          <div class="button-wrapper">
            <button class="custom-btn btn-3 " (click)="signup()"><span>Register</span></button>
          </div>
          
        </div>
        <div class="col-md-6" data-aos="flip-left">
          <img class="bg-img" src="./assets/images/img1.png" alt="Background Image">
        </div>
      </div>
    </div>
  </div>