<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar> </app-navbar>
    <section id="refund-policy">
        <div class="container">
          <h2>Refund Policy</h2>
          <p>
            At Encoded Bits, we value customer satisfaction. If you are not entirely satisfied with your purchase, we're
            here to help.
          </p>
          <h3>Eligibility for Refunds</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ante et lacus finibus rhoncus vel non
            tortor. Curabitur lacinia magna at dapibus ultrices. Mauris gravida, metus vitae interdum varius, lectus justo
            rutrum purus, ut scelerisque orci turpis vel urna.
          </p>
          <h3>Refund Process</h3>
          <p>
            Sed aliquet vestibulum ante, ut consectetur mi molestie in. Nam venenatis eros neque, id tincidunt mi
            consequat sit amet. Aliquam scelerisque aliquet varius.
          </p>
        </div>
      </section>
</body>
</html>