
<h1 class="heading" data-aos="zoom-out-down">What we deliver</h1>
  <div class="card-container" data-aos="fade-zoom-in"
  data-aos-easing="ease-in-cubic"
  data-aos-delay="600"
  data-aos-offset="0">

    <div class="card"  >
      <img src="./assets/images/join1.png" alt="Image 1">
      <h2>Live Classes</h2>
      <ul>
        <li>Live interaction</li>
        <li>One-to-one doubt solving</li>
        <li>No need to watch boring videos</li>
        <li>Learn in an exciting way</li>
      </ul>
    </div>
    <div class="card"  data-aos="fade-zoom-in"
    data-aos-easing="ease-in-cubic"
    data-aos-delay="600"
    data-aos-offset="0">
      <img src="./assets/images/join2.jpg" alt="Image 2">
      <h2>Project Assistance</h2>
      <ul>
        <li>Assistance in making projects</li>
        <li>Simplify complex problems</li>
        <li>Boost imagination</li>
      </ul>
    </div>
    <div class="card" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-cubic"
    data-aos-delay="600"
    data-aos-offset="0">
      <img src="./assets/images/join3.jpg" alt="Image 3">
      <h2>Doubt Solving</h2>
      <ul>
        <li>Daunting doubts? No worries</li>
        <li>Simplify coding</li>
        <li>Build the best approaches</li>
      </ul>
    </div>
  </div>
  